.payment-button {
    background-image: linear-gradient(to bottom, rgb(0, 172, 26), rgb(75, 205, 49), rgb(75, 240, 94));
    height: 50px;
    width: 200px;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 50px auto;
    outline: none;
    border: none;
    box-shadow: 1px 4px 8px rgb(176, 176, 176);
}

.payment-button:hover{
    background-image: linear-gradient(to bottom, rgb(1, 109, 17), rgb(44, 128, 28), rgb(48, 165, 62));
}

.payment-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 25px;
}

