
.Title {
    font-family: 'Montserrat';
    font-size: 28px;
    margin: 25px;
}

.Categories {
    display: flex;
    justify-content: space-around;
}

@media (max-width: 990px){
    .Categories {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}