.cart-details {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px 100px 50px 100px;
}

.cart-labels {
    padding: 15px;
    /* border: 1px solid black; */
    border-radius: 10px;
    text-decoration: underline;
}

.cart-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    margin: 25px;
}

.cart-component {
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    
}
.checkout-button {
    background-image: linear-gradient(to bottom, rgb(0, 172, 26), rgb(75, 205, 49), rgb(75, 240, 94));
    height: 50px;
    width: 200px;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 50px auto;
    outline: none;
    border: none;
}

.checkout-button:hover {
    background-image: linear-gradient(to bottom, rgb(1, 109, 17), rgb(44, 128, 28), rgb(48, 165, 62));
}

.cart-total {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 25px;
}

.cart-items-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 15px 100px 50px 100px;
}

.quantity-buttons {
    width: 50px;
    height: 35px;
    margin: 0px 40px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(216, 210, 230);
    align-items: center;
    border: none;
    box-shadow: 2px 3px 10px rgb(164, 164, 164);
}

/* .item-labels {

} */
@media (max-width: 1070px){
    .quantity-buttons {
        width: 50px;
        height: 35px;
        margin: 0px 20px;
    }
}

@media (min-width: 350px) and (max-width: 990px){
    .cart-details {
        margin: 10px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .quantity-buttons {
        margin: 10px;
        width: 25px;
        height: 25px;
        font-size: 12px;
    }
    .cart-items-container {
        margin: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 15px 0px;
    }
    .cart-labels {
        margin: 0px;
    }
}


@media (max-width: 350px) {
    .cart-details {
        margin: 10px;
    }
    .quantity-buttons {
        margin: 10px;
        width: 20px;
        height: 20px;
        font-size: 12px;
    }
    .cart-items-container {
        margin: 0px;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        padding: 15px 0px;
    }
    .cart-labels {
        margin: 0px;
    }
}
