.CategoryComponent{
    height:350px;
    width: 350px;
    border-radius: 30px;
    box-shadow: 5px 10px 24px #797979;
    margin: 25px;
    border: none;
}

.CategoryTitle {
    font-family: 'Montserrat';
    font-size: 34px;
    padding: 25px;
    color: white;
    text-decoration: none;
    position: absolute;
    width: 100%;
    margin: 15% 0%;
    letter-spacing: 10px;
    font-weight: bold;

}

.CategoryTitle:hover {
    color: rgb(122, 255, 115);
}


.baby-div {
    background-color: rgba(45, 10, 10, 0.66);
    border-radius: 30px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 990px){
    .CategoryComponent{
        height: 250px;
        width: 250px;
    }
}

@media (min-width: 991px) and (max-width: 1200px){
    .CategoryComponent {
        height: 280px;
        width: 280px;
    }
}
@media (max-width: 350px) {
    .CategoryComponent {
        height: 220px;
        width: 220px;
        margin: 15px;
    }
    .CategoryTitle {
        font-size: 18px;
        padding: 25px 10px;
    }
}