.CategoryComponent{
    background-color: rgb(0, 0, 0, 0.5)!important;
    height:350px;
    width: 350px;
    border-radius: 30px;
    box-shadow: 5px 10px 24px #797979;
    margin: 25px;
}

.CategoryTitle {
    font-family: 'Montserrat';
    font-size: 28px;
    padding: 25px;
    color: white;
    text-decoration: none;
    position: absolute;
}

/* .parentDiv {
    background-color: rgba(32, 0, 87, 0.5);
    z-index: 1;
    border-radius: 30px;
} */

@media (max-width: 990px){
    .CategoryComponent{
        height: 250px;
        width: 250px;
    }
}

@media (min-width: 991px) and (max-width: 1200px){
    .CategoryComponent {
        height: 280px;
        width: 280px;
    }
}
@media (max-width: 350px) {
    .CategoryComponent {
        height: 220px;
        width: 220px;
        margin: 15px;
    }
    .CategoryTitle {
        font-size: 18px;
        padding: 25px 10px;
    }
}