.CategoryComponent{
    height:350px;
    width: 350px;
    border-radius: 30px;
    box-shadow: 5px 10px 24px #797979;
    margin: 25px;
}

.CategoryTitle {
    font-family: 'Montserrat';
    font-size: 28px;
    padding: 25px;
    color: white;
    text-decoration: none;
    position: absolute;
}
/* 
.parentDiv {
    background-color: rgba(32, 0, 87, 0.5);
    z-index: 1;
    border-radius: 30px;
} */