.dashboard-button {
    background-image: linear-gradient(to bottom, rgb(0, 172, 26), rgb(75, 205, 49), rgb(75, 240, 94));
    height: 50px;
    width: 250px;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 300px 150px;
    outline: none;
    border: none;
}

.dashboard-button:hover {
    background-image: linear-gradient(to bottom, rgb(1, 109, 17), rgb(44, 128, 28), rgb(48, 165, 62));
}

.dashcontainer {
    height: 100%;
    width: 100%;
}

/* 
.alpha-channel{
    background-color: rgba(67, 31, 31, 0.708);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

@media (max-width: 750px) {
    .dashboard-button {
        margin: 15px;
    }
    #top-button {
        margin-top: 80%;
    }
    .dashcontainer {
        height: 92vh;
    }
}

@media (min-width: 750px) and (max-width: 1100px) {
    .dashboard-button {
        margin: 35px;
    }
    #top-button {
        margin-top: 50%;
    }
    .dashcontainer {
        height: 92vh;
    }
}