.dashboard-button {
    background-image: linear-gradient(to bottom, #7540FB, rgb(156, 124, 252), rgb(187, 163, 254));
    height: 50px;
    width: 250px;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin: 300px 150px;
    outline: none;
}

.dashboard-button:hover {
    background-image: linear-gradient(to bottom,  rgb(216, 119, 0), rgb(255, 191, 0), rgb(255, 251, 122));
}