.Nav {
    background-image: linear-gradient(to bottom right, rgb(0, 3, 208), rgb(81, 84, 249), rgb(156, 124, 252), rgb(204, 185, 255)) ;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    /* position: relative; */
}

.Logo {
    margin-right: auto;
    padding: 0px 50px;
    font-family: 'Pacifico';
    font-size: 38px;
    font-weight: 0px;
}
.nav-links {
    padding: 0px 25px;
    letter-spacing: 2px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

.nav-links:hover {
    color: rgb(129, 255, 255);
}

.links-container{
    padding: 0px 25px;
}

.link-tags {
    text-decoration: none;
    color: white;
}

.fa-bars {
    color: white;
}

.fa-bars:hover {
    color: rgb(129, 255, 255);
}

@media (min-width: 990px) {
    .fa-bars {
        display: none;
    }
}

@media (max-width: 990px) {
    .nav-links {
        display: none;
    }
    .Nav {
        width: 100%;
    }
    .Logo {
        padding: 0px 25px;
    }
}

@media (max-width: 350px) {
    .Logo {
        font-size: 34px;
        padding: 0px 25px;
    }
}