.button {
    background-color: #7540FB;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.login-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    padding: 25px;
}

.Login {
    margin: 25px;
}