.button {
    background-image: linear-gradient(to bottom, rgb(39, 93, 255), rgb(73, 161, 255), rgb(77, 220, 252));
    height: 50px;
    width: 200px;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
}
.button:hover {
    background-image: linear-gradient(to bottom, rgb(31, 73, 199), rgb(46, 110, 177), rgb(48, 151, 172));
}
.register-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    padding: 25px;
}
.Registration {
    margin: 25px;
}
.inputfield {
    border: none;
    border-bottom: 1px solid rgb(154, 154, 157);
    width: 300px;
    height: 30px;
    margin: 5px;
    outline: none;
}
.inputfield:focus {
    border-bottom: 3px solid rgb(76, 232, 221);
  }

@media (max-width: 350px) {
    .inputfield {
        width: 250px;
    }
}