.button {
    background-color: #7540FB;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
.register-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    padding: 25px;
}
.Registration {
    margin: 25px;
}
.inputfield {
    border: none;
    border-bottom: 1px solid rgb(154, 154, 157);
    width: 300px;
    height: 30px;
    margin: 5px;
    outline: none;
}
.inputfield:focus {
    border-bottom: 3px solid rgb(76, 232, 221);
  }