.button {
    background-image: linear-gradient(to bottom, #7540FB, rgb(156, 124, 252), rgb(187, 163, 254));
    height: 50px;
    width: 200px;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none;
}
.button:hover {
    background-image: linear-gradient(to bottom,  rgb(216, 119, 0), rgb(255, 191, 0), rgb(255, 251, 122));
}
.register-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    padding: 25px;
}
.Registration {
    margin: 25px;
}
.inputfield {
    border: none;
    border-bottom: 1px solid rgb(154, 154, 157);
    width: 300px;
    height: 30px;
    margin: 5px;
    outline: none;
}
.inputfield:focus {
    border-bottom: 3px solid rgb(76, 232, 221);
  }

@media (max-width: 350px) {
    .inputfield {
        width: 250px;
    }
}