.button {
    background-image: linear-gradient(to bottom, rgb(0, 172, 26), rgb(75, 205, 49), rgb(75, 240, 94));
    height: 50px;
    width: 200px;
    border-radius: 30px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: 1px 4px 8px rgb(176, 176, 176);
}
.button:hover {
    background-image: linear-gradient(to bottom, rgb(1, 109, 17), rgb(44, 128, 28), rgb(48, 165, 62));
    border: none;
    text-decoration: none;
    outline: none;
}

.button:focus{
    outline: none;
}

.register-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    padding: 25px;
}
.Registration {
    margin: 25px;
}
.inputfield {
    border: none;
    border-bottom: 1px solid rgb(154, 154, 157);
    width: 300px;
    height: 30px;
    margin: 5px;
    outline: none;
}
.inputfield:focus {
    border-bottom: 3px solid rgb(76, 232, 221);
  }

@media (max-width: 350px) {
    .inputfield {
        width: 250px;
    }
}