.ProductComponent {
    height:350px;
    width: 350px;
    border-radius: 30px;
    box-shadow: 5px 10px 24px #797979;
    margin: 25px 60px;
}
.ParentComponent {
    display: flex;
}
.producttitle {
    font-family: 'Montserrat';
    font-size: 28px;
    margin: 25px;
}

@media (max-width: 990px){
    .ProductComponent{
        height: 250px;
        width: 250px;
    }
    .ParentComponent {
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 991px) and (max-width: 1200px){
    .ProductComponent {
        height: 280px;
        width: 280px;
    }
}
@media (max-width: 350px) {
    .ProductComponent {
        height: 220px;
        width: 220px;
        margin: 15px;
    }
    .producttitle {
        font-size: 22px;
        padding: 0px;
    }
}